content-box {
	height: 5em;
	border: 1em;
}

#border-box {
	width: 1200px;
	height: 5em
}

h1 {
	font-size: 5rem;
	line-height: 1rem;
	text-transform: uppercase;
	font-weight: bold;
}

h2 {
	font-size: 2.5rem;
	line-height: 3.5rem;
	font-weight: 400;
	font-style: italic;
}

p{
  font-size: 1rem;
  line-height: 1.5rem;
}

header p {
  font-size: 2.5rem;
	line-height: 3.5rem;
	font-weight: 400;
	font-style: italic;
}
.tagline{
	max-width: 45%;
}

.container {
	max-width: 1200px;
	margin: auto;
}

.kitties {
	padding: 120px 0px;
	font-family: sans-serif;
	color:white;
}

.nav-links {
  max-width: 1200px;
	margin: auto;
}

.map {
  width: 300px
}
.main-navigation{
	background-color: #ebebeb;
	overflow: hidden;
}

.main-navigation a {
  display: block;
	list-style-type: none;
	float:left;
	color: #ffffff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 1.2rem;
}

.main-content{
  padding: 80px 0;

}

.quote{
  padding: 16px 0px;
  color:#339ab5;
}

.quote p {
  font-size: 1.4rem;
  line-height: 2rem;
  }

.content{
  display: block;
  max-width: 800px;
}

.footer-content{
  max-width: 400px;
  text-align: center;
  display:inline-block;
  padding: 80px 0px;
}

aside {
  max-width: 300px;
  float: right;
  display:block;}

body {
	font-family: sans-serif;
	margin: auto;
}

a, a:visited, a:hover, a:active {
	color: inherit;
}

header{
	background-color: #339ab5;
}

nav {
	background-color: #ebebeb;
	flex-direction: row;
	text-decoration: none;
}

footer {
	background-color: #393939;
	color: white;
  align-content: center;
}
